@font-face {
	font-family: "나눔고딕";
	src: url("font.otf") format('opentype');
}
html, body {
	margin: 0;
	padding: 0;
	font-family:나눔고딕;
}


#newwritebutton {
	display : inline-block;
}

body {
	display: flex;
	flex-direction: column;
}

#title {
	text-decoration: none;
	color: #000000;
}

#upper-bar {
	min-height: 52px;
	background: #bce55c;
	padding: 7px 15px;
	display: fixed;
}
#button-write {
	font-size: 25px;
	float:right;
}
#search {
	display: table;
	margin: 0 auto;
}
#search-input{
	font-size: 15px;
	border: none;
	border-bottom: 1px solid gray;
	background: whitesmoke;
}
#search-mode{
	width: 80px;
	margin:0;
	padding: 0px 12px;
	height: 25px;
	margin-top: 3px;
}
#search-button, #search-input, #search-mode{
	display: inline;
}
#search-button, #update-button, #delete-button{
	height: 25px;
	padding: 1px 4px;
}
#navi-bar {
	min-height: 30px;
	background: #bce55c;
}

#content {
	width : 1140px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;


}

#content::-webkit-scrollbar {
	display: none;
}

#content-view {
	width: 100%;
	display: flex;
	justify-content: center;
}

#content-view-inner {
	width: 70%;
	max-width: 1280px;
	min-width: 400px;
	padding-top: 50px;
	padding-bottom: 30px;
	overflow-y: auto;
	-ms-overflow-style: none;
}


#content-view-inner hr{
	margin: 0;
	border:1px solid gray;
}

#content-view-inner::-webkit-scrollbar {
	display: auto;
}

#image-wrap {
	overflow: hidden;
	padding-bottom: 90%;
	position: relative;
	height: 0;
}

#image-wrap image {
	left: 20px;
	top: 0;
	height: 100%;
	width: 300px;
	position: absolute;
}

#image-title {
	font-size: 30px;
	font-weight: bold;
}



#title {
	font-size: 25px;
}

.post {
	width: 360px;
	height: 252px;
	margin: 30px 10px;
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.post-thumbnail {
	width: 360px;
	height: 202px;
}
.post-info {
	width: 360px;
	height: 50px;
}
#post-info-title{
	display: inline-block;
	width: 300px;
	font-family: "Black Han Sans", sans-serif;
	font-weight: 400;
	font-size: 25px;
	font-style: normal;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-break: break-all;
}

#post-info-price{
	float:left;
}

#post-info-readcount{
	float:left;
}


#image-wrap section {
	height: 400px;
	margin-left: 300px;
}

#image-title{
	font-family: "Black Han Sans", sans-serif;
	font-weight: 400;
	font-size: 25px;
	font-style: normal;
}



#categoryandcolor{
	width: 100%;
	height: 300px;
	background-color: #bce55c;
	text-align: center;
}

#category {
	max-width : 1140px;
	text-align: center;
	margin: 0 auto;
	background-color: #bce55c;
	display : inline-block;
}

.category.button {
	margin : 10px;
}

index_title {
	font-size: 20px;
}

index_desc {
	font-size: 15px;
}

.thumbnail {
	background-color: gray;
	margin: 5px;
	width: 350px;
	height: 180px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	border-radius: 10%;
}

.post-view {
	margin: 30px 10px;
	height: 1000px;
}

.post-view-body {
	height: 800px;
	background-color: whitesmoke;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.post-view-control {
	height: 25px;
	text-align: right;
	border-bottom: 1px solid black;
	background-color: whitesmoke;
}

#write-view-title {
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 30px;
}

#write-title {
	border: none;
	font-weight: bold;
	font-size: 30px;
	width:calc(100% - 4px);
}
#write-desc{
	resize:none;
	border:none;
	width:calc(100% - 4px);
	height: 300px;
	padding:2px;
	margin-bottom: 20px;
}
#write-controller{
	float:right;
}
#write-password{
	border: none;
	border-bottom: 1px solid gray;
	font-size: 15px;
	margin-left: 15px;
}
#write-author{
	border: none;
	border-bottom: 1px solid gray;
	font-size: 15px;
}
#write-cancel{
	margin-left: 15px;
}
#write-submit{
	margin-left: 15px;
}
#comment-title{
	font-size: 20px;
}
#comment-write-info{
	float:left;
	width: 20%;
	border-right: 2px solid gray;
}
#comment-write-content{
	float:left;
	width: calc(80% - 50px);
}
#comment-write-author, #comment-write-password{
	border: none;
	width: 100%;
}
#comment-write-desc{
	border:none;
	width: 100%;
	resize: none;
}
#comment-submit-button{
	float:right;
	width: 50px;
	height: 48px;
	resize: none;
}
#comment{
	margin-top: 30px;
}
#comment-box{
	margin: 20px auto;
}
#comment-box hr{
	border-top: 1px solid whitesmoke;
}
#comment-author{
	font-weight: bold;
	font-size: 20px;
}
#comment-delete-button{
	float: right;
	cursor: pointer;
}


.container {
	text-align: center;
}

.category-search form {
	display: inline-block;
}

.category-search input[type="submit"] {
	margin: 5px;
}


